NodeRED.config
[{"id":"423b2c7b.542d34","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8839dd30.00504","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3c26383b.dd18e8","type":"mqtt-broker","z":"","name":"","broker":"35.235.88.250","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"262f7bfb.fec004","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:manufacturer/createCar ","topic":"manufacturer/createCar","qos":"2","broker":"3c26383b.dd18e8","x":180,"y":420,"wires":[["98e69b1a.5476e8","c3b6f7ba.dbb868"]]},{"id":"1f6efe43.5a8c32","type":"debug","z":"423b2c7b.542d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":480,"wires":[]},{"id":"684db2d6.e5121c","type":"http request","z":"423b2c7b.542d34","name":"HL-REST-API","method":"POST","ret":"txt","url":"http://35.198.86.59:3000/api/sc.demonstrator.net.Car","tls":"","x":680,"y":420,"wires":[["5a3038d5.3b1378"]]},{"id":"98e69b1a.5476e8","type":"function","z":"423b2c7b.542d34","name":"","func":"var json_obj = JSON.parse(msg.payload);\n\nvar prepared_post = {\n  \"$class\": \"sc.demonstrator.net.Car\",\n  \"status\": \"ASSEMBLY\",\n  \"holder\": \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\",\n  \"productId\": json_obj.payload,\n  \"company\": \"sc.demonstrator.net.Company#Company_TEST\"\n}\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nmsg.payload = prepared_post;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["684db2d6.e5121c","1f6efe43.5a8c32"]]},{"id":"5a3038d5.3b1378","type":"debug","z":"423b2c7b.542d34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":420,"wires":[]},{"id":"f20c05fc.2b7548","type":"inject","z":"423b2c7b.542d34","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"car3259000000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["98e69b1a.5476e8"]]},{"id":"c3b6f7ba.dbb868","type":"debug","z":"423b2c7b.542d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":520,"wires":[]},{"id":"34e5a129.789b5e","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:manufacturer/assembly","topic":"manufacturer/assembly","qos":"2","broker":"3c26383b.dd18e8","x":180,"y":620,"wires":[[]]},{"id":"cec16bf4.d96b68","type":"comment","z":"423b2c7b.542d34","name":"Transaction: CreateCar","info":"","x":160,"y":380,"wires":[]},{"id":"1b14b89a.39c627","type":"comment","z":"423b2c7b.542d34","name":"Transaction: Assembly","info":"","x":160,"y":580,"wires":[]},{"id":"2da2edec.254a02","type":"comment","z":"423b2c7b.542d34","name":"Transaction: ArrivalShell","info":"","x":160,"y":40,"wires":[]},{"id":"2da88330.f6d01c","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:manufacturer/arrival/shell","topic":"manufacturer/arrival/shell","qos":"2","broker":"3c26383b.dd18e8","x":190,"y":80,"wires":[[]]},{"id":"b90ac5a.67c7f38","type":"comment","z":"423b2c7b.542d34","name":"Transaction: ArrivalRoof","info":"","x":160,"y":180,"wires":[]},{"id":"ee6d32c7.8b751","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:manufacturer/arrival/roof","topic":"manufacturer/arrival/roof","qos":"2","broker":"3c26383b.dd18e8","x":190,"y":220,"wires":[[]]},{"id":"1279d616.b19f3a","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:manufacturer/qualityAssurance","topic":"manufacturer/qualityAssurance","qos":"2","broker":"3c26383b.dd18e8","x":210,"y":760,"wires":[[]]},{"id":"d4b3a660.844e68","type":"comment","z":"423b2c7b.542d34","name":"Transaction: QACheck","info":"","x":160,"y":720,"wires":[]},{"id":"74963e1.da046c","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:manufacturer/readyForTransport","topic":"manufacturer/readyForTransport","qos":"2","broker":"3c26383b.dd18e8","x":210,"y":900,"wires":[[]]},{"id":"26e3365c.b9527a","type":"comment","z":"423b2c7b.542d34","name":"Transaction: ReadyForTransport","info":"","x":190,"y":860,"wires":[]},{"id":"b817610.aa5f4a","type":"comment","z":"423b2c7b.542d34","name":"Transaction: TransportStart","info":"","x":170,"y":1000,"wires":[]},{"id":"47b604b.d05edfc","type":"comment","z":"423b2c7b.542d34","name":"Transaction: SensorStatusUpdate","info":"","x":190,"y":1100,"wires":[]},{"id":"fbec0bc7.f3b038","type":"comment","z":"423b2c7b.542d34","name":"Transaction: TransportStop","info":"","x":170,"y":1260,"wires":[]},{"id":"c1724b2d.fc53f8","type":"comment","z":"423b2c7b.542d34","name":"Transaction: TakeOverFromTransport","info":"","x":200,"y":1300,"wires":[]},{"id":"c55fed46.7d96a","type":"comment","z":"423b2c7b.542d34","name":"Transaction: Sold","info":"","x":140,"y":1400,"wires":[]},{"id":"399e1102.237c8e","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:carrier/transport","topic":"carrier/transport","qos":"2","broker":"3c26383b.dd18e8","x":160,"y":1040,"wires":[[]]},{"id":"d6198beb.8d5288","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:carrier/transportation/temp","topic":"carrier/transportation/temp","qos":"2","broker":"3c26383b.dd18e8","x":190,"y":1140,"wires":[[]]},{"id":"c6fa66a7.c153c8","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:carrier/transportation/velocity","topic":"carrier/transportation/velocity","qos":"2","broker":"3c26383b.dd18e8","x":200,"y":1180,"wires":[[]]},{"id":"e82ef58d.446518","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:dealer/sale","topic":"dealer/sale","qos":"2","broker":"3c26383b.dd18e8","x":140,"y":1440,"wires":[[]]},{"id":"f1a00a16.2844c8","type":"mqtt in","z":"423b2c7b.542d34","name":"MQTT:dealer/arrival","topic":"dealer/sale","qos":"2","broker":"3c26383b.dd18e8","x":150,"y":1340,"wires":[[]]}]
