03_NodeRED/NodeRED.config
[{"id":"7ff041f7.4e846","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93d4eb86.8c8418","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:manufacturer/createCar ","topic":"manufacturer/createCar","qos":"2","datatype":"auto","broker":"94d0c65e.d51618","x":180,"y":420,"wires":[["c34224e5.059098","9791d419.7d9af8"]]},{"id":"af17b350.7822a","type":"debug","z":"7ff041f7.4e846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":460,"wires":[]},{"id":"1e31a646.c7900a","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-CreateCar","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/CreateCar","tls":"","proxy":"","x":910,"y":420,"wires":[["b077b2e3.4c92f"]]},{"id":"c34224e5.059098","type":"function","z":"7ff041f7.4e846","name":"Build CreateCar Transaction","func":"// A new car is created and the status of the associated shell is changed to mounted\nvar json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.CreateCar\",\n  \"productId\": json_obj.payload,\n  \"issuer\" : \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\",\n  \"shell\" : \"sc.demonstrator.net.Shell#\"+json_obj.payload\n};\nCreateCarMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.CreateCar?data=\"+CreateCarMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["1e31a646.c7900a","af17b350.7822a"]]},{"id":"58592b0a.fd3514","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["c34224e5.059098"]]},{"id":"9791d419.7d9af8","type":"debug","z":"7ff041f7.4e846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":460,"wires":[]},{"id":"1d0ac7a6.67b418","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:manufacturer/assembly","topic":"manufacturer/assembly","qos":"2","broker":"94d0c65e.d51618","x":180,"y":620,"wires":[["729de7eb.1550f8","3580c8a6.f076c8"]]},{"id":"c95dba87.c47b28","type":"comment","z":"7ff041f7.4e846","name":"Transaction: CreateCar","info":"","x":160,"y":380,"wires":[]},{"id":"183b5d99.c059e2","type":"comment","z":"7ff041f7.4e846","name":"Transaction: Assembly","info":"","x":160,"y":580,"wires":[]},{"id":"407f3e89.42016","type":"comment","z":"7ff041f7.4e846","name":"Transaction: ArrivalShell","info":"","x":160,"y":40,"wires":[]},{"id":"89bbc5e0.858b28","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:manufacturer/arrival/shell","topic":"manufacturer/arrival/shell","qos":"0","broker":"94d0c65e.d51618","x":190,"y":80,"wires":[["9f370413.4c90a8","914d21ac.23b42"]]},{"id":"c3432e15.4c204","type":"comment","z":"7ff041f7.4e846","name":"Transaction: ArrivalRoof","info":"","x":160,"y":180,"wires":[]},{"id":"a01a57d6.251878","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:manufacturer/arrival/roof","topic":"manufacturer/arrival/roof","qos":"2","broker":"94d0c65e.d51618","x":190,"y":220,"wires":[["7c43b35c.688a0c","2978eec6.f6cc22"]]},{"id":"d9c53b75.5f2128","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:manufacturer/qualityAssurance","topic":"manufacturer/qualityAssurance","qos":"2","broker":"94d0c65e.d51618","x":210,"y":800,"wires":[["739c3fa8.a460d","f5a32534.bc1208"]]},{"id":"f81b0303.908bf","type":"comment","z":"7ff041f7.4e846","name":"Transaction: QACheck","info":"","x":160,"y":760,"wires":[]},{"id":"93938165.07c","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:manufacturer/readyForTransport","topic":"manufacturer/readyForTransport","qos":"2","broker":"94d0c65e.d51618","x":210,"y":1040,"wires":[["8c778ffb.99c5b","63faa75e.2ab548"]]},{"id":"17475cfa.888f93","type":"comment","z":"7ff041f7.4e846","name":"Transaction: ReadyForTransport","info":"","x":190,"y":1000,"wires":[]},{"id":"bfd00a76.495af8","type":"comment","z":"7ff041f7.4e846","name":"Transaction: TransportStart","info":"","x":170,"y":1180,"wires":[]},{"id":"7b2747a7.e56348","type":"comment","z":"7ff041f7.4e846","name":"Transaction: TiltedStatusUpdate","info":"","x":190,"y":1380,"wires":[]},{"id":"8667fa85.9b4268","type":"comment","z":"7ff041f7.4e846","name":"Transaction: TransportStop ","info":"","x":170,"y":2020,"wires":[]},{"id":"cd250460.fe6a78","type":"comment","z":"7ff041f7.4e846","name":"Transaction: TakeOverFromTransport","info":"","x":200,"y":2060,"wires":[]},{"id":"3640b4fa.ce9e5c","type":"comment","z":"7ff041f7.4e846","name":"Transaction: Sold TODO","info":"","x":170,"y":2300,"wires":[]},{"id":"b678fa9a.83f678","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:carrier/transport","topic":"carrier/transport","qos":"2","broker":"94d0c65e.d51618","x":160,"y":1220,"wires":[["293fc150.c61b9e","6dc4244d.cffe7c"]]},{"id":"2c985d5a.140db2","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:carrier/transportation/tilted","topic":"carrier/transportation/tilted","qos":"2","broker":"94d0c65e.d51618","x":190,"y":1440,"wires":[["ffde0a80.f04a88","5c6a8f14.f06b4"]]},{"id":"4de22bae.b79ff4","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:dealer/sale","topic":"dealer/sale","qos":"2","broker":"94d0c65e.d51618","x":140,"y":2340,"wires":[["480cd993.befb78","f38d3b65.397068"]]},{"id":"dba08775.d9e1c8","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:dealer/arrival","topic":"dealer/arrival","qos":"2","broker":"94d0c65e.d51618","x":150,"y":2100,"wires":[["1c0a723d.23270e","3553b970.f297a6"]]},{"id":"9f370413.4c90a8","type":"function","z":"7ff041f7.4e846","name":"Build ShellArrival Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.ShellArrival\",\n  \"productId\": json_obj.payload,\n  \"company\": \"sc.demonstrator.net.Company#Company_TEST\",\n  \"issuer\": \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\"\n};\nShellArrivalMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.ShellArrival?data=\"+ShellArrivalMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["f84fcdec.738ec","29fe7082.cf528"]]},{"id":"914d21ac.23b42","type":"debug","z":"7ff041f7.4e846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":120,"wires":[]},{"id":"f84fcdec.738ec","type":"debug","z":"7ff041f7.4e846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":120,"wires":[]},{"id":"29fe7082.cf528","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-ShellArrival","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/ShellArrival","tls":"","proxy":"","x":930,"y":80,"wires":[["263015d4.be077a"]]},{"id":"7c43b35c.688a0c","type":"debug","z":"7ff041f7.4e846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":260,"wires":[]},{"id":"dc1d5713.655eb8","type":"debug","z":"7ff041f7.4e846","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":260,"wires":[]},{"id":"90229261.6829d","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-RoofArrival","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/RoofArrival","tls":"","proxy":"","x":930,"y":220,"wires":[["8e2bfbbb.c9eb48"]]},{"id":"da4a7b2d.10e648","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["9f370413.4c90a8","914d21ac.23b42"]]},{"id":"2978eec6.f6cc22","type":"function","z":"7ff041f7.4e846","name":"Build RoofArrival Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.RoofArrival\",\n  \"productId\": json_obj.payload,\n  \"company\": \"sc.demonstrator.net.Company#Company_TEST\",\n  \"issuer\": \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\"\n};\nRoofArrivalMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.RoofArrival?data=\"+RoofArrivalMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["90229261.6829d","dc1d5713.655eb8"]]},{"id":"69f95536.2d793c","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"roof3259000000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["2978eec6.f6cc22"]]},{"id":"595808b.22a0bf8","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":660,"wires":[]},{"id":"824bd3dc.cc14d","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-Assembly","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/Assembly","tls":"","proxy":"","x":890,"y":620,"wires":[["140fe7ca.9f4728"]]},{"id":"729de7eb.1550f8","type":"function","z":"7ff041f7.4e846","name":"Build Assembly Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.Assembly\",\n  \"issuer\" : \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"roof\" : \"sc.demonstrator.net.Roof#\"+json_obj.roofID\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.Assembly?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["824bd3dc.cc14d","595808b.22a0bf8"]]},{"id":"140fe7ca.9f4728","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":660,"wires":[]},{"id":"3580c8a6.f076c8","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":660,"wires":[]},{"id":"f4899faa.18b67","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"roofID\": \"roof3259000000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["729de7eb.1550f8"]]},{"id":"b077b2e3.4c92f","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":460,"wires":[]},{"id":"36659ae6.00c656","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":840,"wires":[]},{"id":"91f20830.2ed448","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-QACheck","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/QACheck","tls":"","proxy":"","x":950,"y":800,"wires":[["1c67f7fc.f6faa8"]]},{"id":"739c3fa8.a460d","type":"function","z":"7ff041f7.4e846","name":"Build QACheck Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.QACheck\",\n  \"issuer\" : \"sc.demonstrator.net.QA_holder#QA_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"qaId\" : json_obj.qaID,\n  \"lightCheck\" : json_obj.lightCheck,\n  \"hornCheck\" : json_obj.hornCheck\n};\n\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.QACheck?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":800,"wires":[["91f20830.2ed448","36659ae6.00c656"]]},{"id":"1c67f7fc.f6faa8","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":840,"wires":[]},{"id":"f5a32534.bc1208","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":840,"wires":[]},{"id":"a7482c9d.71cce","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lightCheck\": \"true\", \"hornCheck\":\"true\", \"qaID\": \"200\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["739c3fa8.a460d"]]},{"id":"54fc480c.d9d5a8","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":1080,"wires":[]},{"id":"2518e1ae.34e0fe","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-ReadyForTransport","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/ReadyForTransport","tls":"","proxy":"","x":980,"y":1040,"wires":[["414a19d1.08fc08"]]},{"id":"8c778ffb.99c5b","type":"function","z":"7ff041f7.4e846","name":"Build ReadyForTransport Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.ReadyForTransport\",\n  \"issuer\" : \"sc.demonstrator.net.QA_holder#QA_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.ReadyForTransport?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["2518e1ae.34e0fe","54fc480c.d9d5a8"]]},{"id":"414a19d1.08fc08","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":1080,"wires":[]},{"id":"63faa75e.2ab548","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":1080,"wires":[]},{"id":"6914fc97.df91b4","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1100,"wires":[["63faa75e.2ab548","8c778ffb.99c5b"]]},{"id":"34f6ec7c.fc6ec4","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1260,"wires":[]},{"id":"ba3ec7cf.ffb4e8","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-TransportStart","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/TransportStart","tls":"","proxy":"","x":880,"y":1220,"wires":[["626521e3.6678b"]]},{"id":"293fc150.c61b9e","type":"function","z":"7ff041f7.4e846","name":"Build TransportStart Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TransportStart\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.TransportStart?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1220,"wires":[["ba3ec7cf.ffb4e8","34f6ec7c.fc6ec4"]]},{"id":"626521e3.6678b","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":1260,"wires":[]},{"id":"6dc4244d.cffe7c","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":1260,"wires":[]},{"id":"271f1052.55055","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1280,"wires":[["293fc150.c61b9e"]]},{"id":"42541e11.dbcab","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1500,"wires":[]},{"id":"fdf25f31.74d52","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-TiltedStatusUpdate","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/TiltedStatusUpdate","tls":"","proxy":"","x":1020,"y":1440,"wires":[["29928458.540f0c"]]},{"id":"ffde0a80.f04a88","type":"function","z":"7ff041f7.4e846","name":"Build TiltedStatusUpdate Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TiltedStatusUpdate\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"long\" : json_obj.long,\n  \"lat\" : json_obj.lat,\n  \"measuredValue\" : json_obj.measuredValue\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.TiltedStatusUpdate?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1440,"wires":[["fdf25f31.74d52","42541e11.dbcab"]]},{"id":"29928458.540f0c","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1500,"wires":[]},{"id":"5c6a8f14.f06b4","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":1500,"wires":[]},{"id":"46bff067.48c3a","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lat\": 100, \"long\":120, \"measuredValue\":220}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1500,"wires":[["ffde0a80.f04a88"]]},{"id":"b2576551.51d748","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":2140,"wires":[]},{"id":"b0428e89.a4813","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-TransportStop","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/TransportStop","tls":"","proxy":"","x":860,"y":2100,"wires":[["914a787a.745b58"]]},{"id":"1c0a723d.23270e","type":"function","z":"7ff041f7.4e846","name":"Build TransportStop Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TransportStop\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.TransportStop?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2100,"wires":[["b0428e89.a4813","b2576551.51d748","c00b4b51.18e018"]]},{"id":"914a787a.745b58","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":2140,"wires":[]},{"id":"3553b970.f297a6","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":2140,"wires":[]},{"id":"6e08c194.b49c7","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":2380,"wires":[]},{"id":"15bfebf7.206974","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-Sold","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/Sold","tls":"","proxy":"","x":850,"y":2340,"wires":[["917bcaa.4028438"]]},{"id":"480cd993.befb78","type":"function","z":"7ff041f7.4e846","name":"Build Sold Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.Sold\",\n  \"issuer\" : \"sc.demonstrator.net.Distribution_holder#Distribution_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.Sold?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2340,"wires":[["15bfebf7.206974","6e08c194.b49c7"]]},{"id":"917bcaa.4028438","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":2380,"wires":[]},{"id":"f38d3b65.397068","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":2380,"wires":[]},{"id":"c6f82c78.feb55","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2160,"wires":[["1c0a723d.23270e"]]},{"id":"e97e45b8.2d1208","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2400,"wires":[["480cd993.befb78"]]},{"id":"2b54660a.78dbfa","type":"comment","z":"7ff041f7.4e846","name":"Transaction: TemperatureStatusUpdate","info":"","x":210,"y":1580,"wires":[]},{"id":"3226f5e0.e7479a","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:carrier/transportation/temp","topic":"carrier/transportation/temp","qos":"2","broker":"94d0c65e.d51618","x":190,"y":1640,"wires":[["14df3233.b8870e","57b9ab2a.157754"]]},{"id":"d9033981.0a4a78","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1700,"wires":[]},{"id":"d4babe7f.6954b","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-TemperatureStatusUpdate","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/TemperatureStatusUpdate","tls":"","proxy":"","x":1040,"y":1640,"wires":[["d7d0602f.93484"]]},{"id":"14df3233.b8870e","type":"function","z":"7ff041f7.4e846","name":"Build TemperatureStatusUpdate Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TemperatureStatusUpdate\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"long\" : json_obj.long,\n  \"lat\" : json_obj.lat,\n  \"measuredValue\" : json_obj.measuredValue\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.TemperatureStatusUpdate?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1640,"wires":[["d4babe7f.6954b","d9033981.0a4a78"]]},{"id":"d7d0602f.93484","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1700,"wires":[]},{"id":"57b9ab2a.157754","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":1700,"wires":[]},{"id":"2d2c235b.5e24cc","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lat\": 100, \"long\":120, \"measuredValue\":220}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1700,"wires":[["14df3233.b8870e"]]},{"id":"e578cd3f.f5774","type":"comment","z":"7ff041f7.4e846","name":"Transaction: HumidityStatusUpdate","info":"","x":200,"y":1780,"wires":[]},{"id":"d1dc9e33.3e4be","type":"mqtt in","z":"7ff041f7.4e846","name":"MQTT:carrier/transportation/humidity","topic":"carrier/transportation/humidity","qos":"2","broker":"94d0c65e.d51618","x":210,"y":1840,"wires":[["3488ee8a.8aba82","f096da49.b4c898"]]},{"id":"158b6c43.48bee4","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1900,"wires":[]},{"id":"65dc1b43.b13a14","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-HumidityStatusUpdate","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/HumidityStatusUpdate","tls":"","proxy":"","x":1030,"y":1840,"wires":[["e0ccf163.4f8b2"]]},{"id":"3488ee8a.8aba82","type":"function","z":"7ff041f7.4e846","name":"Build HumidityStatusUpdate Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.HumidityStatusUpdate\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"long\" : json_obj.long,\n  \"lat\" : json_obj.lat,\n  \"measuredValue\" : json_obj.measuredValue\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.HumidityStatusUpdate?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1840,"wires":[["65dc1b43.b13a14","158b6c43.48bee4"]]},{"id":"e0ccf163.4f8b2","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1900,"wires":[]},{"id":"f096da49.b4c898","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":1900,"wires":[]},{"id":"86cef52d.a2dd28","type":"inject","z":"7ff041f7.4e846","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lat\": 100, \"long\":120, \"measuredValue\":220}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1900,"wires":[["3488ee8a.8aba82"]]},{"id":"e16ae92e.848f98","type":"function","z":"7ff041f7.4e846","name":"Build TakeOverFromTransport Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TakeOverFromTransport\",\n  \"issuer\" : \"sc.demonstrator.net.Distribution_holder#Distribution_holder_TEST\",\n  \"car\" : json_obj.car\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.246.107.139:3000/api/sc.demonstrator.net.TakeOverFromTransport?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":2200,"wires":[["890de3dd.ca8a8"]]},{"id":"890de3dd.ca8a8","type":"http request","z":"7ff041f7.4e846","name":"HL-REST-API-TakeOverFromTransport","method":"POST","ret":"obj","paytoqs":false,"url":"http://35.246.107.139:3000/api/TakeOverFromTransport","tls":"","proxy":"","x":1330,"y":2200,"wires":[[]]},{"id":"c00b4b51.18e018","type":"delay","z":"7ff041f7.4e846","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":2200,"wires":[["e16ae92e.848f98"]]},{"id":"8e2bfbbb.c9eb48","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":260,"wires":[]},{"id":"263015d4.be077a","type":"debug","z":"7ff041f7.4e846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":140,"wires":[]},{"id":"94d0c65e.d51618","type":"mqtt-broker","z":"","name":"","broker":"35.246.107.139","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
