03_NodeRED/NodeRED.config
[{"id":"b8364b3a.67ae68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"56ae754.e5c218c","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:manufacturer/createCar ","topic":"manufacturer/createCar","qos":"2","broker":"86e97148.487d2","x":180,"y":420,"wires":[["f3d3fd97.11453","801090ee.2958b"]]},{"id":"bec48f8b.0c122","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":460,"wires":[]},{"id":"7dedc17a.f7f97","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-CreateCar","method":"POST","ret":"obj","url":"","tls":"","x":910,"y":420,"wires":[["7d2f1614.7145f8"]]},{"id":"f3d3fd97.11453","type":"function","z":"b8364b3a.67ae68","name":"Build CreateCar Transaction","func":"// A new car is created and the status of the associated shell is changed to mounted\nvar json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.CreateCar\",\n  \"productId\": json_obj.payload,\n  \"issuer\" : \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\",\n  \"shell\" : \"sc.demonstrator.net.Shell#\"+json_obj.payload\n};\nCreateCarMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.CreateCar?data=\"+CreateCarMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["7dedc17a.f7f97","bec48f8b.0c122"]]},{"id":"1204c4ef.cc7e7b","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["f3d3fd97.11453"]]},{"id":"801090ee.2958b","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":460,"wires":[]},{"id":"e6f6f307.5c707","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:manufacturer/assembly","topic":"manufacturer/assembly","qos":"2","broker":"86e97148.487d2","x":180,"y":620,"wires":[["e558e35a.4fd4f","9af3c9a5.571138"]]},{"id":"bbaf7b9b.a74898","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: CreateCar","info":"","x":160,"y":380,"wires":[]},{"id":"e7e2e4b2.46b708","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: Assembly","info":"","x":160,"y":580,"wires":[]},{"id":"3a58a226.65ab3e","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: ArrivalShell","info":"","x":160,"y":40,"wires":[]},{"id":"667be7e2.37a588","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:manufacturer/arrival/shell","topic":"manufacturer/arrival/shell","qos":"0","broker":"86e97148.487d2","x":190,"y":80,"wires":[["b51cae8.2fba85","8bb102fe.6bf7c"]]},{"id":"bb759cd6.046cd","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: ArrivalRoof","info":"","x":160,"y":180,"wires":[]},{"id":"965b86c.9142878","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:manufacturer/arrival/roof","topic":"manufacturer/arrival/roof","qos":"2","broker":"86e97148.487d2","x":190,"y":220,"wires":[["f9649a45.282418","3cef1a6d.6a1556"]]},{"id":"e8f1886.24ff478","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:manufacturer/qualityAssurance","topic":"manufacturer/qualityAssurance","qos":"2","broker":"86e97148.487d2","x":210,"y":800,"wires":[["360a937.7caff6c","f02c52ac.575bc"]]},{"id":"3fa68e4c.ad5402","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: QACheck","info":"","x":160,"y":760,"wires":[]},{"id":"6dbd0e80.bcc24","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:manufacturer/readyForTransport","topic":"manufacturer/readyForTransport","qos":"2","broker":"86e97148.487d2","x":210,"y":1040,"wires":[["2f8e9e72.6cb402","8f6ec840.ad5968"]]},{"id":"e0e4db6e.f08ba8","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: ReadyForTransport","info":"","x":190,"y":1000,"wires":[]},{"id":"24aa18d6.ae8268","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: TransportStart","info":"","x":170,"y":1180,"wires":[]},{"id":"af9f934d.ca26a","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: TiltedStatusUpdate","info":"","x":190,"y":1380,"wires":[]},{"id":"18520916.9853f7","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: TransportStop ","info":"","x":170,"y":2020,"wires":[]},{"id":"9e3c0b68.371298","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: TakeOverFromTransport","info":"","x":200,"y":2060,"wires":[]},{"id":"45abd87b.c03808","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: Sold TODO","info":"","x":170,"y":2300,"wires":[]},{"id":"e1482668.4c5388","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:carrier/transport","topic":"carrier/transport","qos":"2","broker":"86e97148.487d2","x":160,"y":1220,"wires":[["50794e7e.df1ae","f77dfb79.26f1f8"]]},{"id":"7edc69b4.22b5c8","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:carrier/transportation/tilted","topic":"carrier/transportation/tilted","qos":"2","broker":"86e97148.487d2","x":190,"y":1440,"wires":[["b26ab8e9.cca518","c911c599.f75cf8"]]},{"id":"838dfb15.5b6dc8","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:dealer/sale","topic":"dealer/sale","qos":"2","broker":"86e97148.487d2","x":140,"y":2340,"wires":[["6e2a244a.fdc63c","29900de9.93c962"]]},{"id":"30a19e6.b337a62","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:dealer/arrival","topic":"dealer/arrival","qos":"2","broker":"86e97148.487d2","x":150,"y":2100,"wires":[["ea0cc0b9.5894e","d00a5f97.c460c"]]},{"id":"b51cae8.2fba85","type":"function","z":"b8364b3a.67ae68","name":"Build ShellArrival Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.ShellArrival\",\n  \"productId\": json_obj.payload,\n  \"company\": \"sc.demonstrator.net.Company#Company_TEST\",\n  \"issuer\": \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\"\n};\nShellArrivalMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.ShellArrival?data=\"+ShellArrivalMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["ceb5016a.8e9c6","e138ed43.9f8f"]]},{"id":"8bb102fe.6bf7c","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":120,"wires":[]},{"id":"ceb5016a.8e9c6","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":120,"wires":[]},{"id":"e138ed43.9f8f","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-ShellArrival","method":"POST","ret":"obj","url":"","tls":"","x":930,"y":80,"wires":[[]]},{"id":"f9649a45.282418","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":260,"wires":[]},{"id":"5b717168.2beb7","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":260,"wires":[]},{"id":"a1f99784.75fe58","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-RoofArrival","method":"POST","ret":"obj","url":"","tls":"","x":930,"y":220,"wires":[[]]},{"id":"b590b69f.b25608","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["b51cae8.2fba85","8bb102fe.6bf7c"]]},{"id":"3cef1a6d.6a1556","type":"function","z":"b8364b3a.67ae68","name":"Build RoofArrival Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.RoofArrival\",\n  \"productId\": json_obj.payload,\n  \"company\": \"sc.demonstrator.net.Company#Company_TEST\",\n  \"issuer\": \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\"\n};\nRoofArrivalMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.RoofArrival?data=\"+RoofArrivalMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["a1f99784.75fe58","5b717168.2beb7"]]},{"id":"e3830c78.e3b5c","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"roof3259000000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["3cef1a6d.6a1556"]]},{"id":"7b591363.87f6cc","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":660,"wires":[]},{"id":"b2c0a825.9f0fd8","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-Assembly","method":"POST","ret":"obj","url":"","tls":"","x":890,"y":620,"wires":[["125fe3c1.e4113c"]]},{"id":"e558e35a.4fd4f","type":"function","z":"b8364b3a.67ae68","name":"Build Assembly Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.Assembly\",\n  \"issuer\" : \"sc.demonstrator.net.Assembly_holder#Assembly_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"roof\" : \"sc.demonstrator.net.Roof#\"+json_obj.roofID\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.Assembly?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["b2c0a825.9f0fd8","7b591363.87f6cc"]]},{"id":"125fe3c1.e4113c","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":660,"wires":[]},{"id":"9af3c9a5.571138","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":660,"wires":[]},{"id":"cedf1f71.5fa0e","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"roofID\": \"roof3259000000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["e558e35a.4fd4f"]]},{"id":"7d2f1614.7145f8","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":460,"wires":[]},{"id":"36a2d6e5.3b00ea","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":840,"wires":[]},{"id":"9c54dc3a.a025b","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-QACheck","method":"POST","ret":"obj","url":"","tls":"","x":950,"y":800,"wires":[["bb6d2359.f9a2e"]]},{"id":"360a937.7caff6c","type":"function","z":"b8364b3a.67ae68","name":"Build QACheck Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.QACheck\",\n  \"issuer\" : \"sc.demonstrator.net.QA_holder#QA_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"qaId\" : json_obj.qaID,\n  \"lightCheck\" : json_obj.lightCheck,\n  \"hornCheck\" : json_obj.hornCheck\n};\n\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.QACheck?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":800,"wires":[["9c54dc3a.a025b","36a2d6e5.3b00ea"]]},{"id":"bb6d2359.f9a2e","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":840,"wires":[]},{"id":"f02c52ac.575bc","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":840,"wires":[]},{"id":"72c21b76.340344","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lightCheck\": \"true\", \"hornCheck\":\"true\", \"qaID\": \"200\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["360a937.7caff6c"]]},{"id":"146e8f4.9937f71","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":1080,"wires":[]},{"id":"f5674941.487478","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-ReadyForTransport","method":"POST","ret":"obj","url":"","tls":"","x":980,"y":1040,"wires":[["a14acfa2.17bb7"]]},{"id":"2f8e9e72.6cb402","type":"function","z":"b8364b3a.67ae68","name":"Build ReadyForTransport Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.ReadyForTransport\",\n  \"issuer\" : \"sc.demonstrator.net.QA_holder#QA_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.ReadyForTransport?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["f5674941.487478","146e8f4.9937f71"]]},{"id":"a14acfa2.17bb7","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":1080,"wires":[]},{"id":"8f6ec840.ad5968","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":1080,"wires":[]},{"id":"130ee476.b2647c","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1100,"wires":[["8f6ec840.ad5968","2f8e9e72.6cb402"]]},{"id":"5cc504e7.589a2c","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1260,"wires":[]},{"id":"eb6657a3.49f338","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-TransportStart","method":"POST","ret":"obj","url":"","tls":"","x":880,"y":1220,"wires":[["5889747.77be88c"]]},{"id":"50794e7e.df1ae","type":"function","z":"b8364b3a.67ae68","name":"Build TransportStart Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TransportStart\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.TransportStart?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1220,"wires":[["eb6657a3.49f338","5cc504e7.589a2c"]]},{"id":"5889747.77be88c","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":1260,"wires":[]},{"id":"f77dfb79.26f1f8","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":1260,"wires":[]},{"id":"d03c327c.670f","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1280,"wires":[["50794e7e.df1ae"]]},{"id":"490ed9ea.e42108","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1500,"wires":[]},{"id":"a2fe98a1.afa1d8","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-TiltedStatusUpdate","method":"POST","ret":"obj","url":"","tls":"","x":1020,"y":1440,"wires":[["7296d449.f5dd2c"]]},{"id":"b26ab8e9.cca518","type":"function","z":"b8364b3a.67ae68","name":"Build TiltedStatusUpdate Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TiltedStatusUpdate\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"long\" : json_obj.long,\n  \"lat\" : json_obj.lat,\n  \"measuredValue\" : json_obj.measuredValue\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.TiltedStatusUpdate?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1440,"wires":[["a2fe98a1.afa1d8","490ed9ea.e42108"]]},{"id":"7296d449.f5dd2c","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1500,"wires":[]},{"id":"c911c599.f75cf8","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":1500,"wires":[]},{"id":"bede96af.34c9f8","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lat\": 100, \"long\":120, \"measuredValue\":220}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1500,"wires":[["b26ab8e9.cca518"]]},{"id":"726a5f6d.3cd18","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":2140,"wires":[]},{"id":"f3165cd9.8a87f","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-TransportStop","method":"POST","ret":"obj","url":"","tls":"","x":860,"y":2100,"wires":[["83716cd6.49c1d"]]},{"id":"ea0cc0b9.5894e","type":"function","z":"b8364b3a.67ae68","name":"Build TransportStop Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TransportStop\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.TransportStop?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2100,"wires":[["f3165cd9.8a87f","726a5f6d.3cd18","5159c73c.fd9f48"]]},{"id":"83716cd6.49c1d","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":2140,"wires":[]},{"id":"d00a5f97.c460c","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":2140,"wires":[]},{"id":"1178bb85.a8b7f4","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":2380,"wires":[]},{"id":"5636fdca.29b4b4","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-Sold","method":"POST","ret":"obj","url":"","tls":"","x":850,"y":2340,"wires":[["ae3bbcd7.4f8ae"]]},{"id":"6e2a244a.fdc63c","type":"function","z":"b8364b3a.67ae68","name":"Build Sold Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.Sold\",\n  \"issuer\" : \"sc.demonstrator.net.Distribution_holder#Distribution_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.Sold?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":2340,"wires":[["5636fdca.29b4b4","1178bb85.a8b7f4"]]},{"id":"ae3bbcd7.4f8ae","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":2380,"wires":[]},{"id":"29900de9.93c962","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":2380,"wires":[]},{"id":"599d48f5.179138","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2160,"wires":[["ea0cc0b9.5894e"]]},{"id":"fc494375.e80d4","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2400,"wires":[["6e2a244a.fdc63c"]]},{"id":"9858b83f.106f18","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: TemperatureStatusUpdate","info":"","x":210,"y":1580,"wires":[]},{"id":"b1d4233d.f4d71","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:carrier/transportation/temp","topic":"carrier/transportation/temp","qos":"2","broker":"86e97148.487d2","x":190,"y":1640,"wires":[["da0ea532.bd2108","b77a6ba7.df7a78"]]},{"id":"adcc48da.84cfa8","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1700,"wires":[]},{"id":"23b445f0.e7cafa","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-TemperatureStatusUpdate","method":"POST","ret":"obj","url":"","tls":"","x":1040,"y":1640,"wires":[["215628ce.4853f8"]]},{"id":"da0ea532.bd2108","type":"function","z":"b8364b3a.67ae68","name":"Build TemperatureStatusUpdate Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TemperatureStatusUpdate\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"long\" : json_obj.long,\n  \"lat\" : json_obj.lat,\n  \"measuredValue\" : json_obj.measuredValue\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.TemperatureStatusUpdate?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1640,"wires":[["23b445f0.e7cafa","adcc48da.84cfa8"]]},{"id":"215628ce.4853f8","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1700,"wires":[]},{"id":"b77a6ba7.df7a78","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":1700,"wires":[]},{"id":"5ba3ca9a.47b494","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lat\": 100, \"long\":120, \"measuredValue\":220}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1700,"wires":[["da0ea532.bd2108"]]},{"id":"2ff0193b.cc49f6","type":"comment","z":"b8364b3a.67ae68","name":"Transaction: HumidityStatusUpdate","info":"","x":200,"y":1780,"wires":[]},{"id":"22312e0f.5407d2","type":"mqtt in","z":"b8364b3a.67ae68","name":"MQTT:carrier/transportation/humidity","topic":"carrier/transportation/humidity","qos":"2","broker":"86e97148.487d2","x":210,"y":1840,"wires":[["2c8df085.1bcca","640a7d5e.d7aff4"]]},{"id":"f643fe75.0d5ef","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1900,"wires":[]},{"id":"6116e0ea.f738d","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-HumidityStatusUpdate","method":"POST","ret":"obj","url":"","tls":"","x":1030,"y":1840,"wires":[["4341290d.441a98"]]},{"id":"2c8df085.1bcca","type":"function","z":"b8364b3a.67ae68","name":"Build HumidityStatusUpdate Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.HumidityStatusUpdate\",\n  \"issuer\" : \"sc.demonstrator.net.Transport_holder#Transport_holder_TEST\",\n  \"car\" : \"sc.demonstrator.net.Car#\"+json_obj.payload,\n  \"long\" : json_obj.long,\n  \"lat\" : json_obj.lat,\n  \"measuredValue\" : json_obj.measuredValue\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.HumidityStatusUpdate?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1840,"wires":[["6116e0ea.f738d","f643fe75.0d5ef"]]},{"id":"4341290d.441a98","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":1900,"wires":[]},{"id":"640a7d5e.d7aff4","type":"debug","z":"b8364b3a.67ae68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":1900,"wires":[]},{"id":"ec6e346b.2a9198","type":"inject","z":"b8364b3a.67ae68","name":"","topic":"","payload":"{\"uid\": [73, 217, 103, 217, 46], \"payload\": \"shell325900000000\", \"lat\": 100, \"long\":120, \"measuredValue\":220}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1900,"wires":[["2c8df085.1bcca"]]},{"id":"a69a839.beac48","type":"function","z":"b8364b3a.67ae68","name":"Build TakeOverFromTransport Transaction","func":"var json_obj = JSON.parse(msg.payload);\n\nmsg.payload = {\n  \"$class\": \"sc.demonstrator.net.TakeOverFromTransport\",\n  \"issuer\" : \"sc.demonstrator.net.Distribution_holder#Distribution_holder_TEST\",\n  \"car\" : json_obj.car\n};\nAssemblyMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://35.198.108.100:3000/api/sc.demonstrator.net.TakeOverFromTransport?data=\"+AssemblyMsg;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\" ,\n    \"Accept\":\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":2200,"wires":[["4f2baead.2df9c"]]},{"id":"4f2baead.2df9c","type":"http request","z":"b8364b3a.67ae68","name":"HL-REST-API-TakeOverFromTransport","method":"POST","ret":"obj","url":"","tls":"","x":1330,"y":2200,"wires":[[]]},{"id":"5159c73c.fd9f48","type":"delay","z":"b8364b3a.67ae68","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":2200,"wires":[["a69a839.beac48"]]},{"id":"86e97148.487d2","type":"mqtt-broker","z":"","name":"","broker":"35.235.85.229","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
